# 应用基础配置
APP_NAME=RollVideo
APP_HOST=
APP_PORT=
API_V1_STR=/api/v1
DEBUG=true
X_TOKEN=
CLIENT_NOTIFY_URL=

# 视频处理配置
# 100MB 视频大小
VIDEO_TMP_DIR=/data

# MySQL配置
MYSQL_HOST=
MYSQL_PORT=
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_ROOT_PASSWORD=

# Redis配置
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=

# OSS 配置
OSS_ACCESS_KEY=
OSS_SECRET_KEY=

# TOS云存储配置
OSS_ENDPOINT=
OSS_BUCKET=
OSS_CDN=

# 日志配置
LOG_LEVEL=INFO
LOG_FORMAT="%(asctime)s - %(name)s - %(levelname)s - %(message)s"
LOG_DIR=log
LOG_FILE_PREFIX=service
LOG_FILE_MAX_BYTES=10485760
LOG_FILE_BACKUP_COUNT=5